{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About us</title>


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">



  <link rel="stylesheet" href="{% static 'css/itemdetails.css' %}" >
  <link rel="stylesheet" href="{% static 'css/about.css' %}" >

  <link rel="preconnect" href="https://fonts.googleapis.com">
 
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Roboto:wght@400;500&family=Rubik:wght@500;600&display=swap" rel="stylesheet">

</head>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>

 

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>

   


<body >
    

<div class="bg-secondary mx-5 my-5">

    <div class="mx-5"> <span><a href="/homepage">Home</a></span>
   
    <img src="{% static 'brand3.svg' %}" style="width:30%;height:5%;margin-right:0px;padding-right:0px;"/>
</div>

<div class="about-main">
    
    <div class="about-address text-light">
<p> Contact us-<br>
    M/s Adven Industries
    Havelia<br>
    Block Bhadurpur<br>
    JT Road , Jhunsi<br>
    UTTAR  PRADESH 211019<br>
    email- cpyadav2050@gmail.com
</p>
</div>
<div class="text-light">
    <div ><h3>About us</h3></div>
<p>
    Founded in Febraury 2023 ,We are a e-commerce website selling all kinds of items ranging from grocery , electronics , clothing , spices,
    vegetables. We have plans to open live stores in 2023 all across India .Our core aim is to keep customer satisfaction as the topmost priority,
    keeping this in mind we are on a mission to provide customer most value on their money spent on various brands for products.We are always
    open to suggestions , you can write us on cpyadav2050@gmail.com for any enquiries .

</p>
</div>
</div>

</div>
</body>
</html>

 