.about-main{

 
margin: 1% 1% 1% 2%;
padding: 1% 1% 1% 5%;
color:black;

}

.about-address{
padding-left: 10%;
color: black;
     


}
.about-title{
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
    ;
    color: brown;
    padding-left: 16%;
    padding-top: 1%;
}